<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=PMDatabase;Integrated Security=True;Pooling=False;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="OOP-ProjectManagement.Properties.Settings.masterConnectionString"
      connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=PMDatabase;Integrated Security=True;Pooling=False;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="OOP_ProjectManagement.Properties.Settings.ProjectsPMDatabaseConnectionString"
      connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=PMDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>